<h1>Editing star sign</h1>

<%= render "form", star_sign: @star_sign %>

<br>

<div>
  <%= link_to "Show this star sign", @star_sign %> |
  <%= link_to "Back to star signs", star_signs_path %>
</div>
